:root {
  font-family: "Inter", sans-serif;
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
  font-size: 14px;
  --weight-regular: 400;
  --weight-bold: 600;
  --weight-bolder: 700;
  color: var(--white);
  background-color: var(--grey-900);
}

* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
}

.social_links {
  width: 355px;
  margin: auto;
  padding: 20px;
  background-color: var(--grey-800);
  border-radius: 12px;
}

.social_links h3 {
  color: var(--green);
}

.social_links img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 9000px;
}

.social_links .description {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.social_links li {
  margin: 10px;
  padding: 20px;
  display: block;
  background-color: var(--grey-700);
  list-style: none;
  text-align: center;
  border-radius: 12px;
}
